@import "../../_colors";

.traits-chips {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 2em;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 1em 0 0.3em;
}

.portrait {
    display: flex;
    justify-content: center;
}

.parker-image {
    width: 40%;
    height: 40%;
}

.quote-and-personality {
    margin-bottom: 2em;
    display: flex;
}

.software-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-family: serif;
    margin-left: 15px;
    width: 50%;
}

.data-quote {
    display: inline-block;
    text-align: center;
    padding-right: 15px;
    border-right: 1px solid $light-grey;
    font-size: 3.5em;
    width: 50%;
}

.by-sheen {
    display: flex;
    vertical-align: middle;
    font-size: 0.3em;
    font-weight: 300;
}

.about-me-image-container {
    width: 100%;
    margin-bottom: 0.7em;
    position: relative;
    text-align: center;
    color: white;

    .about-me-image {
        width: 100%;
    }

    .centered-text-over-image {
        font-size: 1.8em;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


