@import "../../_colors";

::ng-deep {
    .mat-chip-list-wrapper {
        justify-content: center;
        .mat-chip {
            margin-bottom: 0.2em;
        }
    }
}

.title {
    @media only screen and (max-width: 700px) {
        font-size: 30px;
    }
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin: 1.5em 0 0.3em;
}

.portrait {
    display: flex;
    justify-content: center;
    width: 100%;

    .parker-image {
        @media only screen and (max-width: 1500px) {
            width: 50%;
        }
        @media only screen and (max-width: 1350px) {
            width: 55%;
        }
        @media only screen and (max-width: 1100px) {
            width: 40%;
        }
        @media only screen and (max-width: 850px) {
            width: 55%;
        }
        @media only screen and (max-width: 600px) {
            width: 65%;
        }
        width: 40%;
        height: 40%;
    }
}

.traits-chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.7em;
    margin-bottom: 4em;

    .chip-list1 {
        margin-bottom: 0.2em;
    }
    .chip-list2 {
        margin-left: 8px;
    }
}

.divider-controller-1 {
    position: relative;
    margin-right: 30%;
    margin-left: 30%;
}

.never-argue {
    @media only screen and (max-width: 650px) {
        font-size: 30px;
    }

    padding-top: 0.4em;
    font-size: 50px;
    text-align: center;
}

.by-sheen {
    @media only screen and (max-width: 650px) {
        font-size: 12px;
    }
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2em;
}

.divider-controller-2 {
    position: relative;
    margin-right: 15%;
    margin-left: 15%;
}

.about-me-paragraphs {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 17px;
    p { 
        text-indent: 2em;
    }
}

.about-me-image {
    width: 100%;
}

.navigation-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2em;
}