<mat-card-content>
  <div id="about-me">
    <div class="title">
      <span typingAnimation [typeSpeed]="80" [startDelay]="800" [hideCursorOnComplete]="true" (complete)="onFirstTypingAnimationComplete()">
        Hi!
      </span>
      <span *ngIf="greetingCompleted" typingAnimation [typeSpeed]="60" [startDelay]="1300" [hideCursorOnComplete]="true">
        My name is Parker.
      </span>
    </div>

    <div class="portrait">
      <img class="parker-image" align="middle" src="../../assets/about-me/parker_reese.jpg" alt="Parker Reese Portrait" matTooltip="Pretty cool guy! =>"
        matTooltipPosition="before">
    </div>
    <mat-chip-list class="traits-chips">
      <mat-chip class="chip" *ngFor="let trait of traitsList" selected="true" [color]="colorMap.get(trait)" (click)="changeChipColor($event)">
        {{trait}}
      </mat-chip>
    </mat-chip-list>
    <div class="divider-controller-1">
      <mat-divider></mat-divider>
    </div>
    <div class="never-argue">
      "Never argue with the data."
    </div>
    <div class="by-sheen">
      <i>-Sheen, from Jimmy Nuetron</i>
    </div>
    <div class="divider-controller-2">
      <mat-divider></mat-divider>
    </div>
    <div class="about-me-paragraphs">
      <p>
        So! You want to know a little bit about me? Well, my name is Parker Reese and I am currently Interning as a Software Developer
        at Vendasta. I have completed three years of my Computer Science degree and am looking forward to getting that very
        expensive piece of paper with my name on it. I love to do all the usual things such as Netflix, video games, archery
        dodgeball, and tagging friends in memes. I also love to do many unusual things such as putting ketchup on my mac-n-cheese,
        putting pineapple on my pizza, and using the signal light when I drive.
      </p>
      <p class="goal-paragraph">
        I used to have the life goal of working on a new and exciting technology amongst a team of skilled developers. Since I am
        accomplishing that goal every day with my Internship; I’ve decided to take on a new goal: make as much money as possible
        while sitting at home, on my computer, in my underwear. This is, in my opinion, the highest form of success known
        to humankind.
      </p>
    </div>
    <div class="about-me-image-container">
      <img src="../../assets/about-me/parker_n64_croped.jpg" class="about-me-image" alt="Parker Playing N64">
    </div>
    <div class="about-me-image-container">
      <img src="../../assets/about-me/parker_outside_game.jpg" class="about-me-image" alt="Parker Playing Game I Don't Know The Name Of">
    </div>
  </div>
</mat-card-content>