<mat-card-content>
<br>
  <mat-accordion>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Website 2.0
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Website Original
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          RoboSport
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Team Soccer
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Jam: Killer Bunny
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Jam: Desmon The Moon Bear
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>

  <div class="navigation-buttons">
    <button mat-raised-button color="primary" (click)="changeTabIndex.next(3)">Next</button>
    <button mat-raised-button (click)="changeTabIndex.next(1)">Previous</button>
  </div>
</mat-card-content>