<mat-card-content class="card-content">
<br>
  <mat-accordion>
    <mat-expansion-panel expanded=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Website 2.0
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/person-website2.png" class="image" alt="Person Website 2.0">
      This is the website that you are on right now! Since working at Vendasta I've come to good grips with the Angular framework.
      With that in mind I decided to re-do my personal website in Angular. On top of that, I also wanted to make it mobile friendly.
      Hope you like it!
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Website Original
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/person-website-original.png" class="image" alt="Person Website Original">
      This is the very first website I've ever made. It was made with only html and css. I like this website because it shows how far I've come.
      Can you believe I was using images that were multiple megabytes each! 
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          RoboSport
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/robo-sport.jpeg" class="image" alt="Robo Sport">
      In my third year engineering course at U of S we had to make a game called Robo Sport. It was a simple board game that was to be implemented with Java.
      The point of the class wasn't necessarily to make an awesome game, but rather to learn the processes of software development. We had meetings, pair programming
      sessions, brainstorming sessions, the whole works. I must say I quite enjoyed working amongst our small team of four.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Team Soccer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/TeamSoccer.jpeg" class="image" alt="Team Soccer">
      For no particular reason I decided to try and make a game called Team Soccer. The objective is simple, get the ball into the other teams net. But!
      You and your partner are tied together by a rope. I got the game fully functional for one level and four players, but have since moved on
      to bigger and better things.
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Jam: Killer Bunny
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/killer-bunny.jpeg" class="image" alt="Killer Bunny">
      I decided to do a Game Jam with a few people at U of S. We had 48hrs to whip together as much of a game as we could. The theme for this Game Jam was
      "You are the Villian". With that, we decided to make a game around being the evil white bunny from Monty Python and the Holy Grail. You spent the game
      hunting down knights in a dark cave and, well, killing them.
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Jam: Desmon The Moon Bear
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img src="http://homepage.usask.ca/~par590/assets/projects/desmon-game.jpeg" class="image" alt="Desmon Game">
      This little gem is the outcome of my first ever Game Jam and first ever crack at Unity. The animation in this game is ridiculous and the ending is 
      terrible, but it's by far my favourite thing I've ever made.
    </mat-expansion-panel>
  </mat-accordion>

  <div class="previous-button">
    <button mat-raised-button (click)="changeTabIndex.next(1)">Previous</button>
  </div>
  <parker-nav-bar></parker-nav-bar>
</mat-card-content>
