<mat-card class="main-card">
  <mat-tab-group backgroundColor="primary" [(selectedIndex)]=tabIndex>
    <mat-tab center-tabs="true" label="About">
      <parker-about (changeTabIndex)="changeTabIndex($event)"></parker-about>
    </mat-tab>
    <mat-tab label="Experience">
      <parker-experience (changeTabIndex)="changeTabIndex($event)"></parker-experience>
    </mat-tab>
    <mat-tab label="Projects">
      <parker-projects (changeTabIndex)="changeTabIndex($event)"></parker-projects>
    </mat-tab>
    <mat-tab label="Contact">
      WIP
    </mat-tab>
  </mat-tab-group>
</mat-card>