<mat-card-content>
  <div class="image-container">
    <img src="../../assets/experience/u-of-s.jpg" class="image" alt="UofS Building">
    <div class="bottom-left-img-text">University of Saskatchewan</div>
  </div>
  <p class="u-of-s-description">
    I have completed three years in <b>Computer Science</b> at the University of Saskatchewan. Throughout my time at the University
    I have learned a lot of hard skills. Languages such as <b>Java</b>, <b>C/C++</b>, <b>JavaScript</b> and concepts such as <b>OOP</b>, 
    <b>MVC</b>, and <b>user experience</b>, are things we all had to learn to make our way through. There are, however, a number of indirect
    skills that I acquired that I’ve found to be equally valuable. Things like <b>time management</b>, <b>communication/collaboration</b>,
    and knowing when to take a break, are all things I’m glad University has taught me.
  </p>
  <div class="image-container">
    <img src="../../assets/experience/vendasta-marketplace.jpg" class="image" alt="Vendasta Marketplace Division">
    <div class="bottom-left-img-text">Vendasta</div>
  </div>
  and now some words here about all my experience at Vendasta. Which is actually a lot. They've made me a good developer
  <div class="navigation-buttons">
    <button mat-raised-button color="primary" (click)="changeTabIndex.next(2)">Next</button>
    <button mat-button color="primary" (click)="changeTabIndex.next(0)">Previous</button>
  </div>
</mat-card-content>