<mat-card-content>
    <img src="../../assets/experience/u-of-s.jpg" class="image" alt="UofS Building">
    some words here talking about all that I learned at U of S.
    <img src="../../assets/experience/vendasta-marketplace.jpg" class="image" alt="Vendasta Marketplace Division">
    and now some words here about all my experience at Vendasta. Which is actually a lot. They've made me a good developer 
  <div class="navigation-buttons">
    <button mat-raised-button color="primary" (click)="changeTabIndex.next(2)">Next</button>
    <button mat-button color="primary" (click)="changeTabIndex.next(0)">Previous</button>
  </div>
</mat-card-content>