<mat-card-content>
  <div class="image-container">
    <img src="../../assets/experience/u-of-s.jpg" class="image" alt="UofS Building">
    <div class="bottom-left-img-text">University of Saskatchewan</div>
  </div>
  <p class="paragraph-description">
    I have completed three years in <b>Computer Science</b> at the University of Saskatchewan. Throughout my time at the University
    I have learned a lot of hard skills. Languages such as <b>Java</b>, <b>C/C++</b>, <b>JavaScript</b> and concepts such as <b>OOP</b>, 
    <b>MVC</b>, and <b>user experience</b>, are things we all had to learn to make our way through. There are, however, a number of indirect
    skills that I acquired that I’ve found to be equally valuable. Things like <b>time management</b>, <b>communication/collaboration</b>,
    and knowing when to take a break, are all things I’m glad University has taught me.
  </p>
  <div class="image-container">
    <img src="../../assets/experience/vendasta-marketplace.jpg" class="image" alt="Vendasta Marketplace Division">
    <div class="bottom-left-img-text">Vendasta</div>
  </div>
  <p class="paragraph-description">
      Vendasta is the company I got accepted to work for as a <b>Student Software Developer</b> from May 1st, 2017 – September 1st, 2018.  
      The experience and knowledge from University pales in comparison to what I’ve gained from working at Vendasta. After working for over a year 
      I can comfortable describe myself as a <b>full-stack web developer</b>. With a strong understanding of <b>Typescript</b>, <b>Angular</b>, 
      <b>RXJS</b>, <b>Python</b>, and <b>Go</b>, I feel as though I can solve any task. 
  </p>
  <p class="paragraph-description">
      Vendasta has also made me become more comfortable with myself as a developer. Asking a “stupid” question is no longer the height of embarrassment, 
      but rather something I might do on purpose. <b>Team work</b>, <b>prioritization</b>, and an <b>agile</b> work environment are no longer concepts, 
      but fully understood and utilized daily drivers. I’ve also gotten the opportunity to do public speaking in front of the entire company 
      on multiple occasions. Doing this still scares the socks off of me, but I like to think I’m getting better. 
  </p>
  <div class="navigation-buttons">
    <button mat-raised-button color="primary" (click)="changeTabIndex.next(2)">Next</button>
    <button mat-raised-button (click)="changeTabIndex.next(0)">Previous</button>
  </div>
</mat-card-content>